################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rottytooth.Esolang.Folders.SamplePrograms/bin/Debug
/.vs/Rottytooth.Esolang.Folders/v16
/Rottytooth.Esolang.Folders.SamplePrograms/obj/Debug
Debug
bin
obj
*.csproj.user
Rottytooth.Esolang.Folders.SamplePrograms/HelloWorld/New Folder/New Folder (2)/.DS_Store
Rottytooth.Esolang.Folders.SamplePrograms/HelloWorld/New Folder/New Folder (2)/New Folder/.DS_Store
*.DS_Store
Rottytooth.Esolang.Folders.SamplePrograms/HelloWorld/New Folder/.DS_Store
