################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rottytooth.Esolang.Folders.SamplePrograms/bin/Debug
/.vs/Rottytooth.Esolang.Folders/v16
/Rottytooth.Esolang.Folders.SamplePrograms/obj/Debug
