################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Rottytooth.Esolang.Folders.SamplePrograms/bin/Debug
